.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.portrait {
  overflow: hidden;
}

.portraitImage {
  overflow: hidden;
  width: 30rem;
  position: relative;
  margin-right: 3rem; /* Because of left shift of tag*/
}

.portraitTag {
  background: var(--ifm-color-primary);
  color: #e3e3e3;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  left: 3rem;
  top: 42rem;
  text-align: left;
  width: 30rem;
  padding: 0.8rem 0rem 0.8rem 1rem;
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .portraitTag {
    font-size: 2rem;
    left: 3rem;
    top: 32rem;
  }
  .portraitImage {
    width: 22rem;
  }
}

.ofInterest {
  color: var(--ifm-color-primary);
}

.content {
  padding: 0rem 1rem;
  word-wrap: break-word;
  width: max-content;
  max-width: 70rem;
  align-self: center;
}
