#rain {
  width: 100%;
  height: 100%;
  display: block;
}

.drop {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(255, 255, 255, 0.5)),
    to(var(--ifm-color-primary))
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.5) 0%,
    var(--ifm-color-primary) 100%
  );
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
}

/* drop animation styles */
@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}
@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@keyframes fall {
  to {
    margin-top: 900px;
  }
}
